<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>Mistral Dance | {{location or "Inicio"}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/sticky-footer-navbar.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container-narrow">
    
      <div class="masthead">
        {% if session.logged_in %}
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Lista de espera</a></li>
          <li><a href="/puntajes">Puntajes</a></li>
          <li class="pull-right">
            <a href="{{ url_for('logout') }}">Salir</a>
          </li>
        </ul>
        {% endif %}
        <h3 class="muted">Mistral Dance</h3>
      </div>

      <hr>

        {% for message in get_flashed_messages() %}
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
            <!-- tutorial en cada inicio de sesión -->
          </div>
        {% endfor %}

      <!-- Usuario no identificado -->
      {% if not session.logged_in and not inlogin %}
        <div class="jumbotron">
          <h1>Autorizar</h1>
          <p class="lead">Antes de comenzar, es necesario que se identifique.</p>
          <a class="btn btn-large btn-success" href="/login">Identificarse</a>
        </div>
        <hr>
      {% endif %}


      {% block body %}{% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-3.0.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  

</body>
</html>