{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
	    {% if data %}
	    	<div class="table-responsive">
		        <table id="tabla-puntajes" class="table">
		          <thead>
		            <tr>
		              <th>Posición</th>
		              <th>Puntaje</th>
		              <th>Nombre</th>
		              <th>Rut</th>
		              <th>Correo</th>
		            </tr>
		          </thead>
		          <tbody>
		      {% for entry in data %}
		            <tr>
		              <td>{{ loop.index }}</td>
		              <td>{{ entry.score }}</td>
		              <td>{{ entry.name }} {{ entry.lastname }} </td>
		              <td>{{ entry.rut }}</td>
		              <td>{{ entry.email }}</td>
		            </tr>
		      {% endfor %}
		          </tbody>
		        </table>
		      </div>
		{% else %}
			<div class="alert alert-warning">
	        	<p class="lead">No hay datos que usuarios que hayan jugado.</p>
	        	<a href="/">Volver al inicio</a>
	      	</div>
		{% endif %}
		<!-- layout ya entrega un mensaje de no autorizado -->
	{% endif %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#tabla-puntajes").dataTable({
	    "iDisplayLength": 25
	});
});
</script>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}"></link>
<style type="text/css">
#tabla-puntajes_length {
	display: none;
}
</style>
{% endblock %}