{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
      <!-- Estado -->
      <div class="well" data-bind="visible: isempty() == false">
        
        <h2>Jugador Actual</h2>
        
        <!-- Datos jugador -->
        <div class="row">
          <div class="col-xs-6">
            <dl>
              <dt>Nombre</dt>
              <dd>
                <span data-bind="text: current.fullname"></span>&nbsp;
                <code>#<span data-bind="text: current.id"></span></code>
              </dd>
              <dt>Rut</dt>
              <dd><span data-bind="text: current.rut"></span></dd>
            </dl>
          </div>
          <div class="col-xs-6">
            <dl>
              <dt>Puntaje</dt>
              <dd data-bind="text: current.score"></dd>
              </dl>
            </div>
        </div>
        <div>
          <small class="text-muted" data-bind="if: hasnext() == true">Siguiente jugador: <span data-bind="text: next.fullname"></span></small> <br>
          <small class="text-muted text-warning" data-bind="if: hasnext() == false">No hay más jugadores en espera</small> <br>
        </div>

      </div>
      
      <!-- Agregar usuario -->
      {% include "add-user-form.html" %}

      <!-- Usuarios en cola -->
      {% include "table-entries.html" %}

      </div>

  {% endif %}
    

{% endblock %}
