<div class="table-responsive" id="table-entries">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Correo</th>
        <th>Espera</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
{% for entry in entries %}
      <tr id="entry-{{ entry.id }}">
        <td>{{ entry.name }} {{ entry.lastname }}</td>
        <td>{{ entry.rut }}</td>
        <td>{{ entry.email|privatize }}</td>
        <td>{{ entry.elapsed }}</td>
        <td><button class="btn btn-small" data-id="{{ entry.id }}" onclick="javascript:removeuser({{ entry.id }});">Borrar</button>
      </tr>
{% endfor %}
    </tbody>
  </table>