<div class="table-responsive" id="table-entries" data-bind="visible: isempty() == false">
  <hr>
  <h3>
    <div class="row">
      <div class="col-lg-8">
        En espera
      </div>
    </div>
  </h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Correo</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody data-bind="foreach: waiting">
      <tr>
        <td>
          <code>#<span data-bind="text: id"></span></code>&nbsp;
          <span data-bind="text: name"></span>&nbsp;
          <span data-bind="text: lastname"></span>&nbsp;
          <span data-bind="if: called == true"> <span class="badge">Rezagado</span> </span>
        </td>
        <td data-bind="text:rut"></td>
        <td data-bind="text:email"></td>
        <td>
          <span data-bind="visible: $index">
            <button class="btn btn-warning" data-bind="click:$parent.removeUser">Borrar</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>